/** @group Utilities */
/** @section Text styling */
.text-italic {
	font-style: italic;
}

.text-normal {
	font-style: normal;
}

.text-underline {
	text-decoration: underline;
}

.text-strike {
	text-decoration: line-through;
}

.font-weight-thin {
	font-weight: 100;
}

.font-weight-light {
	font-weight: 300;
}

.font-weight-regular {
	font-weight: 400;
}

.font-weight-medium {
	font-weight: 500;
}

.font-weight-sbold {
	font-weight: 600;
}

.font-weight-bold {
	font-weight: 700;
}

.font-weight-ubold {
	font-weight: 900;
}

.text-spacing-0 {
	letter-spacing: 0;
}

.text-primary {
	color: #f6c452 !important;
}

.lh2 {
	line-height: 22px;
}

.text-decorate {
	position: relative;
	text-align: center;
	padding-bottom: 30px;
	line-height: .85;
	text-transform: uppercase;
}

.text-decorate:before {
	position: absolute;
	content: '';
	max-width: 250px;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	height: 4px;
	background: #262523;
}

.context-dark .text-decorate:before {
	background: #ffffff;
}

@media (min-width: 992px) {
	.text-decorate {
		text-align: left;
	}
	.text-decorate:before {
		left: 0;
		transform: translateX(0);
	}
}

.text-decorate + .project-img {
	margin-top: 50px;
}

.jumbo-h2 {
	font-size: 35px;
	line-height: 0.8;
	font-weight: 400;
}

@media (min-width: 768px) {
	.jumbo-h2 {
		font-size: 45px;
	}
}

@media (min-width: 992px) {
	.jumbo-h2 {
		font-size: 60px;
		line-height: 1.2;
	}
}

@media (min-width: 1200px) {
	.jumbo-h2 {
		font-size: 80px;
		line-height: 1;
	}
}

/** @section Row spacing */
.row-0 {
	margin-bottom: 0px;
}

.row-0:empty {
	margin-bottom: 0;
}

.row-0 > * {
	margin-bottom: 0px;
}

.row-15 {
	margin-bottom: -15px;
}

.row-15:empty {
	margin-bottom: 0;
}

.row-15 > * {
	margin-bottom: 15px;
}

.row-20 {
	margin-bottom: -20px;
}

.row-20:empty {
	margin-bottom: 0;
}

.row-20 > * {
	margin-bottom: 20px;
}

.row-30 {
	margin-bottom: -30px;
}

.row-30:empty {
	margin-bottom: 0;
}

.row-30 > * {
	margin-bottom: 30px;
}

.row-50 {
	margin-bottom: -50px;
}

.row-50:empty {
	margin-bottom: 0;
}

.row-50 > * {
	margin-bottom: 50px;
}

@media (min-width: 992px) {
	.row-md-30 {
		margin-bottom: -30px;
	}
	.row-md-30:empty {
		margin-bottom: 0;
	}
	.row-md-30 > * {
		margin-bottom: 30px;
	}
}

/** @section Sections */
.section-xs {
	padding: 25px 0;
}

.section-sm,
.section-md,
.section-lg,
.section-xl {
	padding: 60px 0;
}

.section-collapse + .section-collapse {
	padding-top: 0;
}

.section-collapse:last-child {
	padding-bottom: 0;
}

html [class*='section-'].section-bottom-0 {
	padding-bottom: 0;
}

@media (min-width: 768px) {
	.section-sm {
		padding: 60px 0;
	}
	.section-md {
		padding: 70px 0;
	}
	.section-lg {
		padding: 85px 0;
	}
	.section-xl {
		padding: 105px 0;
	}
}

@media (min-width: 992px) {
	.section-md {
		padding: 80px 0 90px;
	}
	.section-lg {
		padding: 100px 0;
	}
	.section-xl {
		padding: 125px 0;
	}
}

@media (min-width: 1200px) {
	.section-lg {
		padding: 115px 0;
	}
	.section-xl {
		padding: 155px 0;
	}
}

.section-single {
	display: flex;
	text-align: center;
}

.section-single p {
	margin-left: auto;
	margin-right: auto;
}

.section-single * + .rights {
	margin-top: 35px;
}

@media (min-width: 992px) {
	.section-single * + .rights {
		margin-top: 60px;
	}
}

.section-single .rd-mailform-wrap {
	max-width: 670px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.section-single * + .rd-mailform-wrap {
	margin-top: 20px;
}

.section-single-header {
	padding: calc(1em + 3vh) 0 calc(1em + 2vh);
}

.section-single-main {
	padding: calc(1em + 4vh) 0;
}

.section-single-footer {
	padding: calc(1em + 2vh) 0 calc(1em + 3vh);
}

.section-single-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	min-height: 100vh;
}

.section-single-inner > * {
	width: 100%;
}

/** @section Grid modules */
.grid-demo {
	letter-spacing: 0;
	text-align: center;
}

.grid-demo p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.grid-demo * + p {
	margin-top: 5px;
}

.grid-demo * + .row {
	margin-top: 20px;
}

.grid-demo .row + .row {
	margin-top: 0;
}

@media (min-width: 1200px) {
	.grid-demo {
		text-align: left;
	}
	.grid-demo p {
		white-space: normal;
		overflow: visible;
		text-overflow: unset;
	}
	.grid-demo * + p {
		margin-top: 25px;
	}
}

.grid-demo-bordered .row {
	border: 0 solid #d7d7d7;
	border-top-width: 1px;
}

.grid-demo-bordered .row:last-child {
	border-bottom-width: 1px;
}

.grid-demo-bordered [class*='col'] {
	padding: 5px 15px;
}

.grid-demo-bordered [class*='col']:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: -1px;
	border-left: 1px solid #d7d7d7;
}

@media (min-width: 768px) {
	.grid-demo-bordered [class*='col'] {
		padding: 30px;
	}
}

@media (min-width: 1200px) {
	.grid-demo-bordered [class*='col'] {
		padding: 50px 50px 45px;
	}
}

.grid-demo-underlined .row {
	border-bottom: 1px solid #d7d7d7;
}

.grid-demo-underlined [class*='col'] {
	padding: 5px 15px;
}

@media (min-width: 768px) {
	.grid-demo-underlined [class*='col'] {
		padding-top: 25px;
		padding-bottom: 25px;
	}
}

@media (min-width: 1200px) {
	.grid-demo-underlined [class*='col'] {
		padding-top: 45px;
		padding-bottom: 45px;
	}
}

/** @section Backgrounds */
.context-dark .brand .brand-logo-dark, .bg-gray-700 .brand .brand-logo-dark, .bg-primary .brand .brand-logo-dark {
	display: none;
}

.context-dark .brand .brand-logo-light, .bg-gray-700 .brand .brand-logo-light, .bg-primary .brand .brand-logo-light {
	display: block;
}

.bg-default {
	background-color: #ffffff;
}

.bg-default:not([style*="background-"]) + .bg-default:not([style*="background-"]) {
	padding-top: 0;
}

.bg-gray-100 {
	background-color: #fefefe;
}

.bg-gray-100:not([style*="background-"]) + .bg-gray-100:not([style*="background-"]) {
	padding-top: 0;
}

.bg-gray-700 {
	background-color: #2c343b;
}

.bg-gray-700:not([style*="background-"]) + .bg-gray-700:not([style*="background-"]) {
	padding-top: 0;
}

.bg-primary-ndt {
	background-color: #eaeaea;
}

.bg-primary:not([style*="background-"]) + .bg-primary:not([style*="background-"]) {
	padding-top: 0;
}

.bg-primary + .bg-primary {
	padding-top: 0;
}

.bg-image {
	background-size: cover;
	background-position: center;
}

@media (min-width: 992px) {
	html:not(.tablet):not(.mobile) .bg-fixed {
		background-attachment: fixed;
	}
}

/** @section Utilities custom */
.height-fill {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.height-fill > * {
	flex-grow: 1;
	flex-shrink: 0;
}

.object-inline {
	white-space: nowrap;
}

.object-inline > * {
	display: inline-block;
	min-width: 20px;
	vertical-align: top;
	white-space: normal;
}

.object-inline > * + * {
	margin-left: 5px;
}

.oh {
	position: relative;
	overflow: hidden;
}

.text-decoration-lines {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.text-decoration-lines-content {
	position: relative;
	display: inline-block;
	min-width: 170px;
	font-size: 13px;
	text-transform: uppercase;
}

.text-decoration-lines-content::before, .text-decoration-lines-content::after {
	content: '';
	position: absolute;
	height: 1px;
	background: #d7d7d7;
	top: 50%;
	width: 100vw;
}

.text-decoration-lines-content::before {
	left: 0;
	transform: translate3d(-100%, 0, 0);
}

.text-decoration-lines-content::after {
	right: 0;
	transform: translate3d(100%, 0, 0);
}

* + .text-decoration-lines {
	margin-top: 30px;
}

p.rights {
	font-size: 14px;
	color: #262523;
}

p.rights a {
	color: inherit;
}

p.rights a:hover {
	color: #f6c452;
}

[style*='z-index: 1000;'] {
	z-index: 1101 !important;
}

.text-block * + .button {
	margin-top: 35px;
}

@media (min-width: 992px) {
	.text-block * + .button {
		margin-top: 45px;
	}
}

section.sect-404 {
	padding-top: 40px;
	padding-bottom: 100px;
}

section.sect-404 em {
	display: block;
	color: #f6c452;
	font-size: 200px;
	line-height: 1;
	font-weight: 800;
	font-style: normal;
}

@media (max-width: 991px) {
	section.sect-404 em {
		font-size: 140px;
		margin-top: 30px;
	}
}

section.sect-404 h3 + * {
	margin-top: 17px;
}

section.sect-404 * + h3 {
	margin-top: 40px;
}

.parallax-container {
    position: relative;
    overflow: hidden;
}
.material-parallax{position:absolute;top:0;left:-1px;right:-1px;bottom:0;z-index:0}
.parallax-content{position:relative;z-index:1}
.material-parallax img{display:none;position:absolute;left:50%;bottom:0;min-width:101%;min-height:101%;max-width:none;transform:translate3d(-50%,0,0)}
.parallax-disabled{background-size:cover;background-position:center}

.parallax-disabled{background-attachment:fixed}
.ios .modal-open{position:fixed;width:100%;height:100%}